@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');

*{
	font-family: 'Raleway', sans-serif;
}

html{
	width: 100vw;
	height: 100vh;
	overflow: auto;
}

body{
	width: 100vw;
	margin: 0;
	background-color: #eeeeee;
	height: 100vh;
	overflow: auto;
}

.main-container{
	position: relative;
	float: left;
	width: 100%;
	height: auto;
	background-color: #6a50ee;
	z-index: 999;
}

.main-logo-container{
	position: relative;
	float: left;
	overflow: hidden;
	height: 60vh;
	width: 100%;
}

.main-logo-container-content{
	top: 0;
	left: 0;
	width: 100%;
	height: 60vh;
	position: fixed;
	z-index: 1;
	/*pointer-events: none;*/
}

.spacer-60{
	position: relative;
	float: left;
	z-index: 2;
	width: 100%;
	height: 60vh;
}

.main-logo-content{
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	padding-bottom: 20px;
	/*margin-top: */
	height: auto;
}

.main-logo{
	width: 40vw;
	position: relative;
	float: left;
	margin-left: 50%;
	/*margin-top: 100px;*/
	transform: translateX(-50%);
	text-align: center;
}

.main-logo-content h1{
	color: #ffffff;
	font-size: 3em;
	font-weight: 300;
	position: relative;
	float: left;
	clear: both;
	margin-bottom: 0;
	margin-left: 50%;
	transform: translateX(-50%);
}

.body-container{
	/*margin-top: 60vh;*/
	background-color: #ffffff;
	width: 100%;
	height: 100vh;
	position: relative;
	float: left;
	z-index: 2;
}
.body-container-text{
	width: 80%;
	position: relative;
	float: left;
	margin-top: 10px;
	margin-left: 50%;
	transform: translateX(-50%);
	text-align: center;
}

.body-container-text p{
	font-size: 1em;
}


@media(max-width: 800px){
	*{
		-moz-transition: height 999999999999s ease-in;
	    -o-transition: height 999999999999s ease-in;
	    -webkit-transition: height 999999999999s ease-in;
	    transition: height 999999999999s ease-in;
	}
}
